.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.stores {
  text-align: left;
  max-width: 80%;
  margin: 4rem auto auto;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 21rem;
}

.highlight:active{
  border: 0.1rem solid rgb(188, 188, 255);
}
